# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# Logs
*.log

# SQLite database
*.db
*.sqlite3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/
